thead p { font-weight: bold; white-space: nowrap; }
ul { line-height: 1; }
pre { padding: 0; }
pre code { white-space: pre; }
table { font-size: 14px; }
.hljs a { text-decoration: none; }
@media screen and (max-width: 767px) { .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td { white-space: normal; } }
dt { padding-top: 8px; }
.nav-tabs > li a { color: #2C3037 !important; }
.panel { margin-bottom: 10px; border-radius: 2px; }
.panel-body { padding: 5px; }
.panel-heading { padding: 5px; font-weight: bold; border-radius: 0px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
.panel-info { border-color: #0079ff; }
.panel-info .panel-heading { background-color: #f9f9f9; border-color: #c5e0ff; }
.panel-success { border-color: #0079ff; }
.panel-success .panel-heading { background-color: #a8d1ff; color: #fff; }
.panel-success .panel-heading a:hover { color: #2C3037; }
.param-inline { font-weight: bold; color: #602020; }
.param { font-weight: bold; padding: 4px 4px 4px 32px !important; color: #602020; width: 20%; }
.paramdesc { padding: 4px !important; }
.just-padding { padding: 15px; }
.list-group { border-radius: 0px; }
.col-sm-3 > .list-group { border: 0px solid #0079ff; }
.list-group .show-path { background-color: #0079ff; }
.list-group .show-path a { color: #fff; }
.list-group a { text-decoration: none; }
.list-group.list-group-root { padding: 0; overflow: hidden; }
.list-group.list-group-root .list-group { margin-bottom: 0; }
.list-group.list-group-root .list-group-item { border-radius: 2px; border-width: 0px 0 0 0; }
.list-group.list-group-root > .list-group-item:first-child { border-top-width: 0; }
.list-group.list-group-root > .list-group > .list-group-item { padding-left: 30px; }
.list-group.list-group-root > .list-group > .list-group > .list-group-item { padding-left: 45px; }
.list-group-item { padding: 5px 5px 5px 25px; background-color: transparent; }
.list-group-item-text { margin-left: 25px; }
.list-toggle { margin-left: -20px; margin-right: 5px; }
.list-item-desc { margin: 0; }
@media (min-width: 768px) { .navbar-form { margin-right: -15px; } }
.navbar-form { border: 0; }
.input-group { width: 100%; }
#searchResults { z-index: 1; position: absolute; top: 32px; max-height: 200px; overflow: auto; background-color: #fff; color: black; border: 1px solid #eee; display: none; padding: 0; }
#searchResults .list-group { margin-bottom: 0px; }
#searchResults h4 { font-size: 14px; font-weight: bold; }
#searchResults .list-group-item { padding: 10px 15px; }
.page-toc { margin: 4px; float: right; clear: right; position: relative; border: 1px solid #0079ff; font-size: 85%; }
.page-toc ol { list-style: none; padding: 4px; }
.page-toc ol ol { padding-left: 1.2em; }
.anchor:before { content: ''; display: block; position: relative; width: 0; height: 70px; margin-top: -70px; }
.hidden-anchor { display: block; position: relative; top: -70px; visibility: hidden; }
.highlighted.anchor { text-shadow: 0 0 3px #0079ff; }
.main-search { width: 100%; }
.main-search .input-group { border: 1px solid #0079ff !important; }
.main-search .form-control { height: 28px !important; padding: 0px; padding-left: 20px; border: none; }
